@font-face {
    font-family: 'myDigitFont';
    src: url('DS-DIGIB.TTF');
}

body {
    background-color: silver;
}

#container {
    background-color: white;
    box-shadow: 0 0 10px gray;
    padding: 20px;
    margin: 50px auto;
    width: 522px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

#gameTable {
    width: 522px;
    height: 522px;
    background-color: gray;
}

#buttonBox {
    margin: 20px 0;
}

button {
    width: 165px;
    background-color: gray;
    border: 1px solid black;
    font-size: 122%;
    cursor: pointer;
}

button:hover {
    background-color: silver;
}

input {
    font-size: 150%;
    background-color: black;
    color: yellow;
    font-family: 'myDigitFont';
    width: 165px;
    text-align: center;
}

#info {
    background-color: lightgray;
    padding: 15px 0;
    color: gray;
    font-weight: bold;
    box-shadow: inset 0 0 5px gray;
}