@font-face {
    font-family: myDigitFont;
    src: url(DS-DIGIB.TTF);
}

body{
    background-color: silver;
}

#stopper {
    width: 400px;
    height: 200px;
    background-color: gray;
    margin: 100px auto;
    text-align: center;
}

#kijelzo {
    line-height: 150px;
    font-size: 400%;
    background-color: black;
    color: yellow;
    font-family: myDigitFont;
}

#gombok {
    line-height: 50px;
}

button {
    width: 190px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(90, 90, 90);
    text-transform: uppercase;
    cursor: pointer;
    color: gray;
    text-shadow: 2px solid black;
}

button:hover {
    background-color: gray;
    color: black;
}