:root{
    --body-bg: silver;
    --container-bg: #ffffff;
    --shadow: gray;
    --editor-bg: #efefef;
    --main-fc: black;
    --btn-bg: rgb(124, 161, 190);
    --btn-border: rgb(91, 115, 134);
    --btn-hover: rgb(148, 184, 211);
    --cell-hover: red;
}

body{
    background-color: var(--body-bg);
}

#container{
    background-color: var(--container-bg);
    margin:15px;
    padding: 15px;
    box-shadow: 0 0 10px var(--shadow);
    display: flex;
    flex-direction: row;
}

#editor{
    width: 300px;
    background-color: var(--editor-bg);
    text-align: center;
}

#timetable{
    width: 100%;
    text-align: center;
    padding: 15px;
}

h2{
    margin:15px;
}

hr{
    width: 80%;
    color: var(--shadow);
}

.table{
    width: 100%;
    border: 2px solid var(--main-fc);
    border-collapse: collapse;
}

.table th{
    background-color: var(--editor-bg);
    border: 1px solid var(--shadow);
    padding: 20px;
}

.table tbody td{
    border: 1px solid var(--shadow);
    width:20%;
    cursor: pointer;
    position: relative;
}

.table tbody td:hover{
    box-shadow: inset 0 0 6px var(--shadow);
    background-color: rgb(200, 200, 200, 0.2);
}

.table tfoot td{
    background-color: var(--editor-bg);
    font-size: 80%;
    padding: 6px;
    letter-spacing: 3px;
    padding: 10px;
}

label{
    display: block;
    text-align: left;
    margin: 5px 15px;
    color: var(--btn-border);
    font-size: 90%;
    font-style: italic;
}

select, button{
    display: block;
    margin: 10px;
    width: 90%;
    padding: 10px;
}

button{
    background-color: var(--btn-bg);
    border: 1px solid var(--btn-border);
    border-radius: 5px;
    margin-top: 35px;
}

button:hover{
    background-color: var(--btn-hover);
    cursor: pointer;
}

.room{
    font-size: 60%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 6px;
}

.x{
    font-size: 70%;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    width: 15px;
    height: 15px;
    color: var(--btn-border);
    border: 1px solid var(--btn-border);
    border-radius: 4px;
}

.x:hover {
    background-color: var(--btn-hover);
}

.teacher{
    padding: 6px;
    font-size: 60%;
    position: absolute;
    right: 0;
    bottom: 0; 
}

.blue{
    background-color: rgb(136, 136, 241);
}

.red{
    background-color: rgb(241, 136, 136);
}

.green{
    background-color: rgb(148, 241, 136);
}

.yellow{
    background-color: rgb(251, 248, 65);
}

.silver{
    background-color: rgb(211, 211, 211);
}

.brown{
    background-color: rgba(197, 136, 78, 0.924);
}

.orange{
    background-color: rgb(224, 133, 48);
}